<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="footer">
    <div class="footer-contenido">
      <div class="footer-columna">
        <h4>Legal</h4>
        <ul>
          <li><a href="/pcookies">Cookies</a></li>
          <li><a href="/aviso-legal">Aviso legal</a></li>
          <li><a href="/politica-de-privacidad">Política de privacidad</a></li>
          <li><a href="javascript:void(0);" id="footerManageCookies">Configurar Cookies</a></li>
        </ul>
      </div>
      <div class="footer-columna">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="/">Incio</a></li>
          <li><a href="/sneakers">zapatillas</a></li>
          <li><a href="/clothing">Ropa</a></li>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/wishlist">Lista de deseos</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-copyright">
      <p>&copy; <%= new Date().getFullYear() %> FootLaces. Todos los derechos reservados.</p>
      <p style="font-size: 12px; color: #777; margin-top: 0.5rem;">
        Proyecto académico. Esta página no representa una tienda real. Todos los contenidos e imágenes son usados con fines educativos.
      </p>
    </div>
  </footer>
  <%- include('cookies') %>
