<%- include('partials/header') %>

<div class="min-h-screen flex flex-col justify-between">
  <main class="flex-grow flex items-center justify-center">
    <div class="bg-green-100 border border-green-400 text-green-700 px-6 py-8 rounded-lg text-center max-w-md shadow-lg">
      <h1 class="text-xl font-semibold mb-2">✔ Devolución confirmada correctamente</h1>
      <p>Revisa tu correo para más detalles.</p>
    </div>
  </main>

</div>

  <%- include('partials/footer') %>
