<!-- headercrud.ejs -->
<header class="header-crud">
    <div class="logo">
        <img src="/images/LogoTFL.png" alt="Logo The Footlaces" width="150">
    </div>
    <nav class="navigation">
        <a href="/admin/productos" class="nav-link">Productos</a>
        <a href="/admin/usuarios" class="nav-link">Usuarios</a>
        <a href="/admin/pedidos" class="nav-link">Pedidos</a>
        <a href="/admin/devoluciones" class="nav-link">Devoluciones</a>
        <a href="/logout" class="nav-link" style="color: red; font-weight: bold;">Cerrar Sesión</a>
    </nav>
    <link rel="stylesheet" href="/stylesheets/headercrud.css">
</header>
